/* header related styles */

.banner {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}

.banner-head {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    margin-top: 0px;
    width: 632px;
}

/* main related styles */

/* content 2 styles */
.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.HNYimage {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 0px auto;
}

/* content 3 styles */

.content3 {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    margin: auto;
    margin-top: 120px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin-bottom: 100px;
}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    margin-left: 126px;
    text-align: left;
    margin-bottom: 24px;
}

.welcomedescription {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 597px;
    margin-left: 126px;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
}

.btn-join {
    border-radius: 5px;
    background: #fbfbfb;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #060606;
    padding: 15px 35px;
    margin-left: 126px;
    margin-right: 1000px;
    transition-duration: 0.4s;

}

.c3i {
    display: flex;
    justify-content: flex-start;
    gap: 0px;
    z-index: 10;
    flex-direction: row;

}

.c3image {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    flex-shrink: 0;
    margin-left: 862px;
    position: absolute;
    z-index: 10;
}

.content3-element {
    margin-right: 0px;
    margin-top: 0px;
}

/* content 4 style  */

.content4 {
    border-radius: 16px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center
}

.info-red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.pi1 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 0px;
}

.btn-join2 {
    border-radius: 8px;
    background: #F00;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    padding: 15px 35px;
    margin-bottom: 110px;
}

.place-info {
    width: 549px;
    height: 168px;
    line-gap-override: 0px;
}

/* content 5 styles  */

.content5 {
    margin-top: 120px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1320px;
    margin-left: 100px;
}

.heading5 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.sub-heading5 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 22px;
}

.description5 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    margin-top: 0px;
}

.round-image {
    border: 15px;
    border-style: solid;
    border-color: #F00;
    border-radius: 50%;
}

.image5 {
    padding: 35px;
}

.heading-right {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hr-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.image-for5 {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.round-image {
    margin-left: 70px;
    margin-right: 118px;
}

.element5 {
    margin-top: 120px;
    display: flex;
}

/* content 6 styles */

.heading-for6 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday-red {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 16px;
}

.sub-heading-for6 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 28px;
}

.description-for6 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    margin-top: 0px;
    margin-left: 190px;
}

.text-for6 {
    text-align: center;
    align-items: center;
    margin-top: 120px;
}

.image-for6 {
    margin-top: 64px;
    display: flex;
    position: relative;
}

.box {
    position: absolute;
    z-index: 1;
}

.disco {
    position: absolute;
    left: 790px;
    top: 86px;
    z-index: 1;
}

.girl {
    position: absolute;
    margin-left: 950px;
}

.red-line {
    position: absolute;
    width: 1310px;
    height: 229px;
    flex-shrink: 0;
    margin-left: 70px;
    top: 433px;
    z-index: -1;
}

/* content 7 styles  */

.content7 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.text-for7 {
    margin-top: 800px;
    margin-left: 70px;
}

.heading-for7 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
}

.sub-heading-for7 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.description-for7 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 48px;
    width: 896px;
}

.bag1 {
    margin-left: 70px;
    margin-right: 24px;
    cursor: pointer;
}

.bag1:hover {
    background-color: bisque;
}

.bag2 {
    margin-right: 24px;
    cursor: pointer;
}

.bag2:hover {
    border-color: bisque;
}

.shoe1 {
    cursor: pointer;
}

.shoe1:hover {
    border-color: bisque;
}

.shoe2 {
    margin-left: 70px;
    margin-right: 24px;
    margin-top: 24px;
    cursor: pointer;
}

.shoe2:hover {
    border-color: bisque;
}

.glass {
    margin-right: 24px;
    margin-top: 24px;
    cursor: pointer;
}

.glass:hover {
    border-color: bisque;
}

.bracelet {
    margin-top: 24px;
    cursor: pointer;
}

.bracelet:hover {
    border-color: bisque;
}

/* content 8 styles */

.content8 {
    border-radius: 16px;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center
}

.email-icon {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-top: 80px;
    margin-bottom: 40px;
}

.title-for8 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 22px;
}

.description-for8 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-top: 0px;
    margin-bottom: 48px;
}

.email-subs-btn {
    gap: 0px;
    padding: 0px;
    display: block;
}

.input-btn {
    width: 438px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border-style: none;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
}

.btn-subs {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border-style: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 0px;
    margin-left: -5px;
}

/* footer related styles */

.footer {
    width: 1900px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
    align-items: center;
    margin-top: 120px;
}

.footer-text-info {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;
}

.addrs {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-left: 140px;
    width: 375px;
    height: 80px;
    margin-top: 120px;
}

.tele-web {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    height: 40px;
    width: 311px;
    margin-right: 275px;
    margin-left: 574px;
    margin-top: 120px;
}

.line {
    width: 1220px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center
}

.social-icon {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 700px;
    margin-right: 896px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.fb {
    margin-right: 24px;
}

.ig {
    margin-right: 24px;
}

.tx {
    margin-right: 24px;
}

.copyright {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 140px;
}

.unsub {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.copyright-info {
    display: flex;
    gap: 780px;
}

.ic {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 16px;
}